.timebox{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.timeslot{
   background-color: #4f46e5;
   padding: 8px 25px;
   color: white;
   border-radius: 6px;
   box-shadow: 0px 0px 8px #4f46e5;
   display: flex;
   align-items: center;
   gap: 1rem;
   cursor: pointer;
}

.timeslot input{
    accent-color: black;
    border: 1px solid white;
    cursor: pointer;
}

.h2{
    margin-top: 20px;
    font-weight: 500;
}

.calender{
    padding: 20px 30px;
    width: 70%;
    margin: auto;
}

.calender2{
    display: flex;
    gap: 8rem;
    justify-content: space-between;
}

.btn{
   /* background-color: #e54678; */
   padding: 8px 18px;
   color: white;
   border-radius: 6px;
   box-shadow: 0px 0px 8px #e54678;
   border: none;
   cursor: pointer;
}