*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

.index{
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login{
  padding: 6px 15px;
  background-color: rgba(0,0,0,10);
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


